@media only screen and (max-width : 992px) {
    .wrapper  {
        width: 900px;
    }
}
@media only screen and (max-width : 768px) {
    .wrapper  {
        width: 700px;
    }
}
@media only screen and (max-width : 480px) {
    .wrapper  {
        width: 450px;
    }
}
